<html>
<body>
  <form action="addcustomer" method="POST" enctype="multipart/form-data" style="padding-right: 5px; padding-left: 5px;">
    <table class="table-responsive">
      <table align="center" class="table table-bordered">
        <tr>
          <h2 align="center" style="background-color: #eaf0ff;">SIGN UP</h2>
        </tr>
        <tr>
          <td>Username</td>
          <td><input type="text" name="txtUsernameOfCustomer" /></td>
        </tr>
        <tr>
          <td>Password</td>
          <td><input type="password" name="txtPasswordOfCustomer" /></td>
        </tr>
        <tr>
          <td>
          </td>
          <td><button type="submit" class="btn btn-primary"
              onclick="return confirm('ARE YOU SURE ?')">ADD NEW ACCOUNT</button></td>
        </tr>
      </table>
    </table>
  </form>
  <h2 align="center" style="background-color: #eaf0ff;">-</h2>
</body>

</html>