<html>
  <link rel="stylesheet" href="../css/myCss.css">

<body>
  <h3 align="center" style="background-color: #eaf0ff;">HOME ADMIN</h3>

  <div align="center" style="padding-right: 125px;">
    <a href="/admin/addproduct" class="btn btn-outline-primary">Add product</a> <!-- add this -->
  </div>

  <div align="center" style="padding-right: 125px;">
    <a href="/admin/addcontact" class="btn btn-outline-primary">Add contact</a> <!-- add this -->
  </div>

  <div align="center" style="padding-right: 125px;">
    <a href="/admin/viewcontact" class="btn btn-outline-primary">View contact</a> <!-- add this -->
  </div>

  <div align="center" style="padding-right: 125px;">
    <a href="/admin/viewcustomer" class="btn btn-outline-primary">View customer</a> <!-- add this -->
  </div>

  <div align="center" style="padding-right: 125px;">
    <a href="/admin/listorders" class="btn btn-outline-primary">View orders</a> <!-- add this -->
  </div>

  <h3 align="center" style="background-color: #eaf0ff;">-</h3>
</body>

</html>