<html>
<link rel="stylesheet" href="../css/myCss.css">

<body>
  <h3 align="center" style="background-color: #eaf0ff;">HOME CUSTOMER</h3>

  <div align="center" style="padding-right: 125px;">
    <a href="/admin/addcontact" class="btn btn-outline-primary">Add contact</a> <!-- add this -->
  </div>

  <h2 align="center" style="background-color: #eaf0ff;">-</h2>
  
  
</body>

</html>