<section class="breakfast-menu">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="breakfast-menu-content">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="left-image">
                                <img alt="Breakfast" src="img/breakfast_menu.jpg">
                            </div>
                        </div>
                        <div class="col-md-7">
                            <h2>Breakfast Menu</h2>
                            <li>
                                whole-wheat or wholegrain breakfast cereals, such as wheat biscuits,
                                muesli or bran cereals
                            </li>
                            <li>
                                porridge, such as quick oats
                            </li>
                            <li>
                                fresh fruits
                            </li>
                            <li>
                                wholemeal or multigrain bread to toast
                            </li>
                            <li>
                                muffins or crumpets
                            </li>
                            <li>
                                toast toppings, such as baked beans, eggs, cheese or spreads
                            </li>
                            <li>
                                fruit or plain yoghurts
                            </li>
                            <li>
                                fresh fruit juices
                            </li>
                            <li>
                                low-fat milk.
                            </li>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="lunch-menu">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="lunch-menu-content">
                    <div class="row">
                        <div class="col-md-7">
                            <h2>Lunch Menu</h2>
                            <div class="owl-carousel owl-theme" id="owl-lunch" style="display: block; opacity: 1;">
                                <div class="owl-wrapper-outer">
                                    <div class="owl-wrapper"
                                        style="transition:1000ms; left: 0px; width: 1566px; display: block; transform: translate3d(0px, 0px, 0px);">
                                        <div class="owl-item" style="width: 261px;">
                                            <div class="item col-md-12">

                                                <li>
                                                    Asian Quinoa Salad
                                                </li>
                                                <li>
                                                    Avocado Chicken Salad
                                                </li>
                                                <li>
                                                    Smashed Avocado Chickpea Salad
                                                </li>
                                                <li>
                                                    Brussels Sprouts Salad With Apples, Pecans, and Manchego
                                                </li>
                                                <li>
                                                    Cherry-Almond Farro Salad
                                                </li>
                                                <li>
                                                    Chopped Kale, Farro, and Chickpea Salad
                                                </li>
                                                <li>
                                                    Chorizo and Tomato Salad
                                                </li>
                                                <li>
                                                    Soba Salad With Honey Ginger Dressing
                                                </li>
                                                <li>
                                                    Strawberry Fields Salad
                                                </li>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="left-image">
                                <img alt="" src="img/lunch_menu.jpg">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="breakfast-menu" style="margin-bottom:100px ;">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="breakfast-menu-content">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="left-image">
                                <img alt="Dinner" src="img/dinner_menu.jpg">
                            </div>
                        </div>
                        <div class="col-md-7">
                            <h2>Dinner Menu</h2>
                            <li>
                                Hard Tacos or Tostadas
                            </li>
                            <li>
                                Huevos Rancheros
                            </li>
                            <li>
                                Burritos
                            </li>
                            <li>
                                Fajitas
                            </li>
                            <li>
                                Burgers or Hotdogs
                            </li>
                            <li>
                                Quesadillas (plain cheese, or steak, chicken)
                            </li>
                            <li>
                                Meatballs and Rice
                            </li>
                            <li>
                                KFC Bowls (mashed potatoes on bottom, then corn and breaded chicken bites on top)
                            </li>
                            <li>
                                Sloppy Joes
                            </li>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>